version: "3.9"
   
services:
  cache:
    image: redis
  db:
    image: mongo
    volumes:
      - ./data/db:/data/db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  scraper:
    build: .
    command: tail -F /dev/null
    # volumes:
    #   - .:/skillscraper
    ports:
      - "8000:8000"
    depends_on:
      - cache
      - db

